# install
pip
wheel

# test
twine==1.14.0
pytest
pytest-runner
pytest-cov
pytest-cookies
coverage
numdifftools

# lint and format
pre-commit
codespell>=2.1.0
ruff

# docs
sphinx>=5.0.0, <8.0.0 # the upper bound is because of a bug in nbsphinx-link.
nbsphinx==0.8.10
nbsphinx-link
jupyter_sphinx>=0.3.2
sphinx-jsonschema>=1.15
pygments>=2.11.1
sphinx-panels
pydata-sphinx-theme
sphinxcontrib-bibtex
jinja2>=3.0.3
