name: CI

on:
  push:
    # on every branch
    branches:
      - '*'

env:
  PIP_CACHE_DIR: ${{ github.workspace }}/.cache/pip
  QT_DEBUG_PLUGINS: 1
  QT_QPA_PLATFORM: offscreen

jobs:
  static_analysis:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies with uv
        run: |
          pip install uv
          uv venv
          uv pip install -e ".[all]"

      - name: Run pre-commit hooks
        run: |
          uv run pre-commit run --all-files  # Run pre-commit inside the uv virtual environment

        continue-on-error: false

      - name: Upload pre-commit report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: pre-commit-report
          path: pre-commit-report

  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies with uv
        run: |
          pip install uv
          uv venv
          uv pip install -e ".[all]"

      - name: Set up xvfb
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          sleep 3

      - name: Run tests with coverage
        run: |
          uv run xvfb-run pytest \
            -s \
            --cov=lbfgsb \
            --cov-report xml \
            --cov-report html \
            --cov-report term \
            --cov-config=.coveragerc \
            --color=yes

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  tox:
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 8
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions

      - name: Run tox
        run: tox

      - name: Upload distribution artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-python-package-${{matrix.python-version}}
          path: dist/*.whl
